@import "../../styles/variables.scss";

body {
  background-color: $background-color;
  color: $default-text-color;
  font-family: $default-font-family;
}

.especialidades {
  display: grid;
  justify-items: center;
  margin-bottom: 5em;
}

.especialidades__grid {
  width: min(95%, 1200px);
  display: grid;

  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(380px,100%), 1fr));
}

.card {
  border: 2px $card-border-color-expertise solid;
  border-radius: 1em;
  position: relative;
  padding: 1rem;
  padding-top: 30px;
  /* para encaixar o logo no topo do card */
  margin-top: 30px;

  &__icon {
    border: 2px solid $card-border-color-expertise;
    border-radius: 100%;
    padding: 12px;
    width: 32px;
    aspect-ratio: 1/1;
    display: inline-flex;
    background: $background-color;
    position: absolute;
    margin: auto;
    top: -30px;
    right: 0;
    left: 0;

    .icon {
      filter: invert(1);
    }
  }

  &__text {
    text-align: justify;
    ul {
      margin-top: -0.5rem;
      margin-bottom: 1.5rem;
    }
  }
}


/*  Fancy */
.chonky-underline {
  z-index: 0;
  position: relative;
  color: white;
}

.chonky-underline::after {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 3%;
  z-index: -1;
  height: 0.3em;
  width: 102%;
  left: -1%;
}

.underline-megenta::after {
  background: #dc2a99;
}

.underline-blue::after {
  background: #2c49d8;
}

.underline-orange::after {
  background: #ff6b2b;
}