// Colors
$background-color: #202530;
$default-text-color: white;
// Colors - Perfil
$first-perfil-color: #212a3e;
$secound-perfil-color: #394258;
$color-cursor-console: white;
// Colors - Expertise
$card-border-color-expertise: white;
// Colors - Timeline
$border-color-timeline: white;
$highlight-color-timeline: #9ce2bd; //#50d890;
$logo-radio: 20px;
$logo-border-width: 7px;
$logo-scale: calc( ($logo-radio + $logo-border-width) / $logo-radio);

// Fonts
$default-font-family: "Roboto Mono", Sans-serif;
$font-family-experience: "PT Sans", Sans-serif;
$font-console: Consolas, monospace;