#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}